In [1]:
import requests
from bs4 import BeautifulSoup as soup

In [2]:
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.61 Safari/537.36'}

In [3]:
html = requests.get('https://www.zillow.com/san-jose-ca/?searchQueryState=%7B%22usersSearchTerm%22%3A%22San%20Jose%2C%20CA%22%2C%22mapBounds%22%3A%7B%22west%22%3A-122.045664%2C%22east%22%3A-121.704359%2C%22south%22%3A37.147971%2C%22north%22%3A37.469538%7D%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A33839%2C%22regionType%22%3A6%7D%5D%2C%22isMapVisible%22%3Afalse%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%7D%2C%22isListVisible%22%3Atrue%2C%22category%22%3A%22cat1%22%7D',headers=header)

In [4]:
bsobj = soup(html.content,'lxml')

In [5]:
price = bsobj.findAll('div',{'class':'list-card-price'})

In [6]:
house_price = []
num_bedroom = []
num_bathroom = []
house_size = []
type_house =[]

In [7]:
for i in price:
    house_price.append(i.text)
house_price

['$525,000',
 '$925,000',
 '$1,480,000',
 '$1,488,000',
 '$1,680,000',
 '$750,000',
 '$1,248,000',
 '$1,300,000',
 '$455,000']

In [8]:
size = bsobj.findAll('ul',{'class':'list-card-details'})
for i in size:
    print(i.text)

2 bds1 ba798 sqft- Condo for sale
3 bds2 ba1,306 sqft- House for sale
2 bds1 ba1,422 sqft- House for sale
4 bds3 ba2,324 sqft- House for sale
3 bds2 ba1,226 sqft- House for sale
2 bds2 ba1,328 sqft- House for sale
3 bds1 ba1,131 sqft- House for sale
4 bds2 ba1,786 sqft- House for sale
1 bd1 ba633 sqft- Condo for sale

In [9]:
for j in size:
    num_bedroom.append(j.text.split(' ')[0])
num_bedroom

['2', '3', '2', '4', '3', '2', '3', '4', '1']

In [10]:
for k in size:
    item = k.text.split(' ')[1]
    for i in item:
        if i.isdigit():
            num_bathroom.append(i)
num_bathroom

['1', '2', '1', '3', '2', '2', '1', '2', '1']

In [11]:
for l in size:
    item = l.text.split(' ')[2].strip('ba')
    house_size.append(item)
house_size

['798', '1,306', '1,422', '2,324', '1,226', '1,328', '1,131', '1,786', '633']

In [12]:
for m in size:
    item = m.text.split('-')[-1]
    type_house.append(item)
type_house

[' Condo for sale',
 ' House for sale',
 ' House for sale',
 ' House for sale',
 ' House for sale',
 ' House for sale',
 ' House for sale',
 ' House for sale',
 ' Condo for sale']

In [13]:
import pandas as pd
df = pd.DataFrame({'house price': house_price, 'number of bedroom': num_bedroom, 'number of bathroom': num_bathroom, 'house size': house_size, 'house type':type_house})

In [14]:
df

  house price number of bedroom number of bathroom house size       house type
0    $525,000                 2                  1        798   Condo for sale
1    $925,000                 3                  2      1,306   House for sale
2  $1,480,000                 2                  1      1,422   House for sale
3  $1,488,000                 4                  3      2,324   House for sale
4  $1,680,000                 3                  2      1,226   House for sale
5    $750,000                 2                  2      1,328   House for sale
6  $1,248,000                 3                  1      1,131   House for sale
7  $1,300,000                 4                  2      1,786   House for sale
8    $455,000                 1                  1        633   Condo for sale